.btn {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: white;
  border: 2px solid var(--secondary);
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: 20px;
  background-color: #ecf0f1;
}

input {
  border-radius: 4px;
  border: 1px solid var(--accent);
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}

input::placeholder {
  color: #333333;
  font-size: 16px;
}

.select-style {
  border-radius: 4px;
  border: 1px solid var(--accent);
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  background-color: #ffffff;
  color: #333333;
  outline: none;
  appearance: none;
}

.option-style {
  color: var(--accent);
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

.selectedTodo-primary {
  border: 4px var(--primary) inset;
  border-radius: 25px;
  background-color: var(--gray-2);
  margin: 5px 0;
  cursor: pointer;
}

.selectedTodo-secondary {
  border: 4px var(--secondary) inset;
  border-radius: 25px;
  background-color: var(--gray-2);
  margin: 5px 0;
  cursor: pointer;
}

.delete-all-todo:hover {
  border-radius: 4px;
  border: 4px inset var(--accent);
  border-radius: 25px;
}

.app-div {
  background-color: #34495e;
}

.span-style {
  margin-right: 15px;
  font-size: 16px;
  color: #333333;
}
.main:hover {
  border-radius: 4px;
  border: 4px inset var(--accent);
  border-radius: 25px;
}

@media screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .left {
    margin-bottom: 20px;
  }

  .right {
    margin-bottom: 20px;
  }

  .edit-todo {
    flex-direction: column;
    align-items: stretch;
  }

  .edit-todo > * {
    margin-bottom: 20px;
  }
}
